
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background-image:url(pngtree-game-space-planet-picture-image_2444869.jpg) ;
   background-size: cover;
   background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1, h2 {
    color: #333;
    text-align: center;
}

.tela {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 20px;
}

.tela.ativa {
    display: block;
}

form {
    margin-top: 20px;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f8f8f8;
}

@media (max-width: 600px) {
    input[type="text"], input[type="number"] {
        width: calc(100% - 22px);
    }

    table {
        width: 100%;
        font-size: 14px;
    }
}
